@tailwind base;
@tailwind components;
@tailwind utilities;

img,
video {
  max-width: 100%;
  height: auto;
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .sidebar-icon {
    @apply relative 
    flex 
    items-center justify-center 
    h-12 w-12 
    mt-2 mb-2 mx-2 
  hover:bg-neutralWhite 
    invert
    transition-all 
    duration-300 
    ease-linear
    cursor-pointer 
    dark:invert 
    dark:hover:bg-neutralBlack;
  }

  .social-icon {
    @apply relative 
    flex 
    items-center 
    justify-center 
    h-12 
    w-12 
    mt-2 mb-2 
    mx-auto 
    invert 
  hover:bg-neutralWhite 
    transition-all 
    duration-300 
    ease-linear
    cursor-pointer 
    hover:dark:bg-black;
  }

  .sidebar-tooltip {
    @apply invisible sm:visible select-none absolute
    w-fit
    h-fit
    p-2 
    m-2
    font-redhatmono 
    font-light
    text-xs
    text-center
    transition-all 
    duration-100 
    scale-0
    origin-left 
    text-white 
    bg-neutralBlack 
    dark:text-black 
    dark:bg-neutralWhite;
  }

  .menuItem {
    @apply cursor-default 
    select-none 
    ui-not-active:text-neutralWhite
    ui-not-active:dark:text-neutralBlack
    ui-active:bg-white
    ui-active:text-neutralBlack
    ui-active:dark:bg-black
    ui-active:dark:text-neutralWhite;
  }
  .projectCard {
    @apply container 
    justify-start 
    w-[350px]
    p-4 
    my-4
    mx-20
    md:w-[900px] 
    md:p-8 
    border-b-2 border-neutralBlack rounded-sm
    /* sm:w-full ??? */
    shadow-inner
  bg-neutralWhite dark:bg-neutralBlack;
  }
  .cardListItem {
    @apply select-none 
    font-medium
    text-lg 
  text-neutralBlack
  dark:text-white
  tracking-widest;
  }
  .cardListData {
    @apply select-none 
    font-extralight
    text-neutralBlack
    dark:text-white;
  }

  .infoBar {
    @apply text-4xl font-semibold opacity-40;
  }
}
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
