@tailwind base;
@tailwind components;
@tailwind utilities;

video {
  max-width: 100%;
  height: auto;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
            h-12 w-12 mt-2 mb-2 mx-2 
            hover:bg-neutralWhite invert
            transition-all duration-300 ease-linear
            cursor-pointer dark:invert dark:hover:bg-neutralBlack;
  }

  .social-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto invert 
  hover:bg-neutralWhite 
    transition-all duration-300 ease-linear
    cursor-pointer hover:dark:bg-black;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
    text-white bg-neutralBlack text-xs
    font-redhatmono font-light
    transition-all duration-100 scale-0 origin-left dark:text-black dark:bg-neutralWhite;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
